:root {
    --header-height: 80px;
    --header-color: 84, 0, 162;
    --bg-color: 98, 206, 225;
    /* --main-bg-color: 128, 236, 255; */
    --main-bg-color: 150, 180, 200;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0.3rem 1rem;
}
html {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif
}
body {
    background-color: rgb(var(--main-bg-color));
    min-width: 550px;
    min-height: (10rem);
}
/* background */
#header,#container {
    background-color: rgb(var(--bg-color),2);
    border :3px solid blue;
    border-radius: 1rem;
}

/* header */
#header {
    display: flex;
    height: var(--header-height);
    color: rgb(var(--header-color));
    align-items: center;
    justify-content: center;
}
#header > h1 {
    font-size: 2.3rem;
}

/* classi todos */
ul.ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.4rem;
}
.todo {
    border-radius: 1rem;
    background-color: rgba(255, 99, 71, 0.87);
    border: 2px solid blue;
    outline: 2px solid blue;
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.todo.done {
    background-color: greenyellow;
}
.todo.notDone > h2 {
    text-decoration: line-through 1px solid aqua;/* visualizza il testo del todo sbarrato.  */
    
}
.todo.notDone > h2:hover {
    text-decoration: underline greenyellow;
}
.todo.done > h2:hover {
    text-decoration: line-through 2px dashed red;
}
.todo > i {
    max-width: 20%;
    display: block;
    border-radius: 50%;
}
.todo > i:hover {
    background-color: fuchsia;
}

.todo > h2 {
    max-width: 80%;
    color: blue;
    font-size: 1.23rem;
    cursor: pointer;
    display: flex;
}
.todo .delete_item {
    cursor: pointer;
}

/* form aggiunta nuova todo */
form {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
}
form > *{
    font-size: 1rem;
}
input[type = 'text'] {
    color: blue;
}
#submit{
    color: white;
    background-color: blue;
    border: 2px solid greenyellow;
    outline: 1px solid blue;
    border-radius: 1rem;
    padding: 0.3rem 0.8rem;
}
#submit:hover {
    cursor: pointer;
    color: black;
    background-color: yellow;
    border: 2px solid blue;
    outline: 1px solid yellow;
}
#submit.blank:hover {
    background-color: tomato;
    outline: 1px solid tomato;
    
}
.errorBlank {
    width: 100%;
    text-align: center;
}

.red-color {
    color :red;
}
.green-color {
    color :green;
}